# Copy to Pulumi.prod.yaml and fill in secrets.
# Run: pulumi config set --secret db_password <value>
# Run: pulumi config set --secret clerk_secret_key <value>
# etc.

config:
  gcp:project: financio-495909
  gcp:region: europe-west1
  financio-gcp:db_password:
    secure: REPLACE_WITH_PULUMI_ENCRYPTED_VALUE
  financio-gcp:clerk_secret_key:
    secure: REPLACE_WITH_PULUMI_ENCRYPTED_VALUE
  financio-gcp:openai_api_key:
    secure: REPLACE_WITH_PULUMI_ENCRYPTED_VALUE
  financio-gcp:brandfetch_api_key:
    secure: REPLACE_WITH_PULUMI_ENCRYPTED_VALUE
  financio-gcp:cors_origin: https://YOUR_FRONTEND_DOMAIN
